body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.camera {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
}

#video {
    width: 100%;
    border-radius: 10px;
}

#captureButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.photo-container {
    display: none;
    margin-top: 20px;
}

#photo {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
